[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmdkit = "*"
psutil = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = ">=2.6.0"
pybench = {editable = true, path = "."}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
